.mainNotification, .mainNotification--error {
  padding: 0.2em 1em;
  background-color: rgb(209, 209, 209);
  border: 5px solid green;
  color: green;
  border-radius: 8px;
}

.mainNotification--error {
  border: 5px solid red;
  color: red;
}